body {
    background-image: url(../../img/eggs/swag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ui.attached.tabular.menu {
    border: none;
}
.ui.tabular.menu a.item {
    color: white;
}

.ui.tabular.menu .item:hover {
  color: rgba(255, 255, 255, .8);
}

.ui.secondary.pointing.menu .active.item:hover, .ui.secondary.pointing.menu .active.item {
  border-color: rgb(219, 40, 40);
}

.ui.segment,.ui.tabular.menu .active.item {
    border-color: rgba(212,212,213, 0.4);
    background: rgba(255,255,255,0.8);
}

.ui.tabular.menu .active.item {
    margin-bottom: 0;
}
.ui.tabular.menu .active.item:hover {
    color: black;
}

input, textarea, .ui.dropdown {
    background-color: rgba(255,255,255,0.8) !important;
}

.ui.dropdown .menu {
    background-color: rgba(255,255,255,0.9) !important;
}
